@media (max-width: 768px) {
    .subHead {

        line-height: 1;
        margin-top: 30px;
    }

    .bodyText {
        margin-left: 20px !important;  
margin-right: 20px !important;  
font-size: 90% !important;
margin-top: 100px !important;
    }
    br{
        display: none;
    }
    .next round {
        bottom: 0;
        position: fixed;
    }

    #btnContainer {
        bottom: 50px;
        position: fixed;

    }
    .responseText {
margin-left: 30px !important;  
margin-right: 30px !important;  
font-size: 90% !important;
margin-top: 200px !important;
    }
    br{
        display: none;
    }
}


#btnContainer {
    bottom: 50px;
    position: fixed;

}

.responseText {
    margin-left: 30px;
    margin-right: 30px;
    margin-top: 100px;
}
}

a {
    cursor: pointer;
}

body {
    background-color: black;
}

hr {
    color: white;
    margin-bottom: 15px;
}

iframe {
    padding: 20px;
}

.subHead {
    color: white;
    font-family: classico-urw, sans-serif;
    font-weight: 700;
    font-size: 75px;
    font-style: normal;
    text-align: center;

}
.aboutText {
    font-family: classico-urw, sans-serif;
    font-weight: 600;
    font-size: 40px;
    font-style: normal;
    text-align: center;
    color: white;
    padding: -0px 400px;   
    margin-top: 100px
}
.babText {
    font-family: classico-urw, sans-serif;
    font-weight: 200;
    font-size: 18px;
    font-style: normal;
    color: white;
    line-height: 1.2;
    text-align: center;
    top: 50%;
    margin-top: 50px;

}

.bodyText {
    font-family: classico-urw, sans-serif;
    font-weight: 300;
    font-size: 22px;
    font-style: normal;
    text-align: center;
    color: white;
    line-height: 1.1;

    
}
.linkTab{
        display: grid;
    padding: 10px 600px;
    
}

.titleText {
    font-family: classico-urw, sans-serif;
    font-weight: 700;
    font-size: 23px;
    text-align: center;
    top: 10px;
    position: fixed;
    top: 25px;
    width: 100vw;
    left: 0;
}

.shareText {
    font-family: classico-urw, sans-serif;
    font-weight: 300;
    font-size: 23px;
    text-align: center;
    bottom: 10px;
    position: fixed;
    bottom: 25px;
    width: 100vw;
    left: 0;
}

.responseText {
    font-family: classico-urw, sans-serif;
    font-weight: 200;
    font-size: 18px;
    font-style: normal;
    color: white;
    line-height: 1.2;
    text-align: center;
    top: 50%;
    margin-top: 210px;

}

a {
    color: white;

}

/*.listText {
    font-family: classico-urw, sans-serif;
    font-weight: 200;
    font-size: 1.1vw;
    font-style: normal;
    color: white;
    line-height: 1.3;
    padding: 15px
}*/
.listText {
    column-width: 300px;
    column-rule: none;
    column-gap: 2em;
    margin: 0 auto;
    max-width: 1400px;
    color: white;
    padding: 5px;
    font-family: classico-urw, sans-serif;
    font-weight: 200;
    font-size: 17px;
    font-style: normal;
    line-height: 1.3;
}

.box {
    float: inherit;
    position: inherit;
    width: 25%;
    height: fit-content;
    padding: 10px
}

.wrap {
    margin: 10px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

/*article {
    -webkit-columns: 4 250px;
    -moz-columns: 4 250px;
    columns: 4 250px;
    -webkit-column-gap: .1em;
    -moz-column-gap: .1em;
    column-gap: .1em;
    padding: inherit;
}
*/






/* Next & previous buttons */
.next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    margin-top: -50px;
    padding: 30px;
    color: white;
    font-weight: bold;
    font-size: 20px;
    animation: fadein 2s;
    animation-delay: 10s;
    user-select: none;
}

@keyframes fadein {
    from {
        opacity: 0;
    }

    /*Update because you asked for this numbers BUT i propose from 0 otherwise you are instantly seeing the div. */
    to {
        opacity: 1;
    }
}

.prev {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    margin-top: -50px;
    padding: 30px;
    color: white;
    font-weight: bold;
    font-size: 20px;
    animation: fadein 2s;
    animation-delay: 10s;
    user-select: none;
}

@keyframes fadein {
    from {
        opacity: 0;
    }

    /*Update because you asked for this numbers BUT i propose from 0 otherwise you are instantly seeing the div. */
    to {
        opacity: 1;
    }
}


/* Position the "next button" to the right */
.next {
    right: 0;
}

/* On hover, add a black background color with a little bit see-through */





.btn {
    border: none;
    outline: none;
    padding: 10px 10px;
    background-color: white;
    cursor: pointer;
    bottom: 0px;
    font-family: classico-urw, sans-serif;
    font-size: 15px;
    font-weight: 500;

}


.active,
.btn:hover {
    background-color: #000000;
    color: white;
}


#btnContainer {
    padding: 10px;
    position: fixed;
    right: 0;
    bottom: 0px;

}
